<h1>Stupid coaching</h1>
<% if params[:question] == "I am going to work" %>
  <h2 id='quest'><%= params[:question] %></h2>
  <h2 id='ans'>Great!</h2>
<% elsif params[:question].include? "?" %>
  <h2 id='quest'><%= params[:question] %></h2>
  <h2 id='ans'> Silly question, get dressed and go to work!</h2>
<% else %>
  <h2 id='quest'><%= params[:question] %></h2>
  <h2 id='ans'>I don't care, get dressed and go to work!</h2>
<% end %>
<%= link_to "Ask a new question", ask_path %>
