// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  margin: 25px 20px;
}

#quest {
  margin: auto 20px;
}

#ans{
  margin: 25px 20px;
  width: auto;
  background-color: #FFFFE1;
}
